@import 'mixing';
.expenses-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin: 1rem 0;
	background-color: #4b4b4b;
	&__description {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		flex: 1;
		@include large-screen;
		h2 {
			font-size: 1rem;
			margin: 0 1rem;
			flex: 1;
			@include large-screen-h2;
		}
	}
	&__amount {
		border: 1px solid white;
		background-color: #40005d;
		border-radius: 12px;
		padding: 0.5rem;
		font-size: 1rem;
		font-weight: bold;
		@include large-screen-amount;
	}
}
