@mixin large-screen {
	@media screen and (min-width: 580px) {
		display: flex;
		flex-direction: row;
		flex: 1;
		align-items: center;
		justify-content: flex-start;
	}
}
@mixin large-screen-h2 {
	@media screen and (min-width: 580px) {
		font-size: 1.25rem;
	}
}
@mixin large-screen-amount {
	@media screen and (min-width: 580px) {
		font-size: 1.25rem;
		padding: 0.5rem 1.5rem;
	}
}
